h1 {
  color: green;
}

body {
  text-align: center;
  margin: auto;
}

#root {
  height: 100vh;
/*   background-repeat: no-repeat;
  background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33)); */
}
